/* Dark Color Scheme */
$primary-color: rgb(27, 32, 43);;
$secondary-color: rgb(23, 21, 37);
$white: #fff;
$dark: #000000;
$gray: #888888;
$light-gray: #444444;
$blue-gray: #3a3f4a;

$background-color: #151515;
$background-color-alt: $dark;

$text-color: #e0e0e0;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: linear-gradient(135deg, $secondary-color, $primary-color);
$button-background-hover: lighten($primary-color, 10%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: $blue-gray;

$syntax-highlighting-background: $light-gray;
