/* Dark Color Scheme */
$primary-color: rgb(135, 125, 165);          // 主色
$secondary-color: rgb(65, 63, 65);        // 次色
$white: #fff;
$dark: #060606;                   // 黑
$gray: #888888;                   // 中性灰
$light-gray: #444444;             // 深色模式下的“浅灰”
$blue-gray: #3a3f4a;              // 冷灰色，边框/分隔用

$background-color: #121212;
$background-color-alt: $dark;

$text-color: #e0e0e0;

$heading-font-color: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$link-color: $text-color;
$link-color-hover: $text-color;

$button-color: $background-color-alt;
$button-background-color: linear-gradient(135deg, $secondary-color, $primary-color);
$button-background-hover: lighten($primary-color, 10%);

$border-color: $blue-gray;

$hr-color: $text-color;
$tr-color: $blue-gray;

$syntax-highlighting-background: $light-gray;
